
body{
    margin: 0px;
    padding: 0px;
}
.top-pat{
    margin: 100px;
    padding-left: 120px;
}
.main_section{
    display: flex;
    margin: 100px;
    padding: 10px;
}
.picture_baner img{
    padding-left: 115px;
}
.color{
   text-decoration: none;
   background-color: rgb(252, 76, 76);
   color: #fff;
   padding: 10px 30px;
   border-radius: 20px;
}
.para{
    text-align: center;
}
.plaxe{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
    margin: 115px;
    
}
.parindip{
    box-shadow: 0px 0px 40px #ddd;
    border-radius: 15px;
    padding: 10px;
   
    width: 300px;
}
.right{
    text-align: right;
    margin-right: 20px;
    
}
.somor{
    margin-right: 115px;
    padding-bottom: 80px;
    
}
.arrow{
    margin-right: 25px;
    color: #dc143c;
}
.copyright{
    text-align: center;
    background-color: hsl(278, 89%, 4%);
    height: 150px;
    
}
.product{
    color: #fff;
    padding-top: 25px;
}
h6{
    color: #fff;
}
.section-last{
    margin: 0px 110px;
}
.center{
    margin: 115px;
    text-align: center;
    font-weight: 700;
}
.baner{
    padding-left: 115px;
}
.picture_baner {
   padding-right: 100px;
}

 